/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Contenedor principal */
#main-container {
  width: 80%;
  max-width: 1200px; /* Máximo ancho para pantallas grandes */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px;
  background: #0a0a0a12;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
h1, h2 {
  color: #333;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1 {
  margin-top: 20px;
}

/* Estilos de los productos en el carrito */
#tarjetaCompras {
  margin-top: 20px;
}

.carrito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.carrito-item h3 {
  margin: 0;
}

.carrito-item button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.carrito-item button:hover {
  background: #0056b3;
}

/* Estilos del formulario */
#form {
  margin-top: 20px;
}

#form label {
  display: block;
  margin: 10px 0 5px;
}

#form input[type="text"],
#form input[type="number"],
#form input[type="tel"],
#form select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#form input[type="text"]:focus,
#form input[type="number"]:focus,
#form input[type="tel"]:focus,
#form select:focus {
  border-color: #007bff;
  outline: none;
}

#cuotas-calculo {
  margin-bottom: 20px;
}

#calcular {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#calcular:hover {
  background: #218838;
}

/* Estilos para el botón de comprar */
#comprar {
  display: block;
  width: 100%;
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#comprar:hover {
  background:  #218838;
}

/* Estilos del formulario de usuario */
#formularioUsuario {
  margin-top: 20px;
}

#formularioUsuario h2 {
  margin-top: 0;
}

#formularioUsuario div {
  margin: 10px 0;
}

#formularioUsuario button {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#formularioUsuario button:hover {
  background: #218838;
}

/* Estilos del total del carrito y enlace de volver */
#totalCarrito {
  margin-top: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#botonVolver {
  text-align: center;
  margin-top: 20px;
}

#botonVolver a {
  color: #007bff;
  text-decoration: none;
}

#botonVolver a:hover {
  text-decoration: underline;
}
