#titulo-contenedor {
    text-align: center;
    padding: 20px;
    background-color: #080808;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#titulo {
    color: white;
    font-size: 50px;
    font-family: Arial, sans-serif;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}

#logo-empresa {
    max-width: 100%; 
    height: 100px;
    border-radius: 50%;
}

#encabezado {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#carrito {
    color:  white;
    font-size: 18px; 
    padding: 5px 10px; 
    background-color: #444;
    border-radius: 5px; 
    cursor: pointer; /
}


    .grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        gap: 10px;
        padding: 10px;
        justify-content: center;
    }
    
    .grid-item {
        position: relative;
        background-color: #060606f2;
        border: 1px solid #080808;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .imagen-contenedor {
        position: relative;
    }
    
    .imagen {
        width: 100%;
        height: 400px; 
        object-fit: cover;
    }
    
    .productoAgregar {
        position: absolute;
        top: 90%; 
        left: 20%; 
        transform: translate(-50%, -50%); 
        background-color: #4CAF50; 
        color: rgb(246, 245, 245); 
        border: none; 
        padding: 10px 20px; 
        font-size: 16px;
        border-radius: 5px; 
        cursor: pointer; 
        z-index: 1; /
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }
    
    .productoAgregar:hover {
        background-color: #45a049; 
    }
    
    .nombre-articulo, .precio-articulo {
        text-align: center;
        margin: 5px 0;
        padding: 5px;
        background-color: rgba(19, 18, 18, 0.665);
        color: rgba(254, 252, 252, 0.976);
        border-radius: 5px;
    }

    .boton-compras {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #4CAF50; 
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none; 
        transition: background-color 0.3s ease; 
    }
    
    .boton-compras:hover {
        background-color:  #45a049; 
    }
    
    
